.Bistro-item {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/home/chef-special.jpg");
  background-position: center;
  background-size: cover;
  height: 570px;
}
